@*@model PagedList.IPagedList<TrainingWheels.WebApi.Models.ExpandedUserDTO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default"})
    @Html.ActionLink("Edit Roles", "Index", "Help", new { area = "" }, null)
    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
</p>*@